apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: atlas-observability-grafana-data
  namespace: atlas-observability
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
