apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: atlas-observability-prometheus-data
  namespace: atlas-observability
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
